# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
tempCodeRunnerFile.py

# Virtual Environments
.venv/
venv/
ENV/
env/

# Streamlit Local Secrets
.streamlit/secrets.toml

# Environment Variables & Credentials
.env
.env.*
*.env

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo

# OS Generated
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log files
*.log
*.tmp
